* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: grey;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calculator {
  background-color: black;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
  height: 400px;
  width: 240px;
  display: flex;
  flex-wrap: wrap;
}

#display {
  background-color: black;
  color: aliceblue;
  font-size: 30px;
  padding: 10px;
  width: 100%;
  text-align: right;
}

.nums-container {
  width: 75%;
}
.ops-container {
  width: 25%;
}
button {
  border: none;
  font-size: 24px;
  border-radius: 50%;
  margin: 5px;
  height: 50px;
  width: 50px;
}
button:hover {
  opacity: 0.9;
}
button:active {
  transform: scale(0.98);
}
button:focus {
  outline: none;
}
button.big-w {
  border-radius: 50px;
  width: 110px;
}

button.big-h {
  border-radius: 50px;
  height: 110px;
}
button.orange {
  background-color: #ee9406;
  color: white;
}
button.light-grey {
  background-color: #a5a5a5;
  margin-right: 50px;
}
button.dark-grey {
  background-color: #323232;
  color: white;
}
